/* pre-navbar */
.my-logo {
  display: block;
  width: 330px;
  padding: 20px 0;
}

.my-search {
  min-width: 275px;
}

/* navbar */

.my-admin-navbar {
  background-color: #C29427!important;
  font-size: 18px;
  height: 45px;
}

.my-navbar {
  background-color: #5C2B56!important;
  font-size: 18px;
  height: 45px;
}

.nav-link {
  color: white!important;
  }

.nav-link:hover {
  color: rgb(190, 190, 190)!important;
}

.navbar-collapse.show {
  background-color: rgba(0, 0, 0, 0.79);
}

/* container styling */
.my-container {
  margin-top: 25px;
  margin-bottom: 25px;
  color: black;
}

.my-thanks{
  min-height: 200px;
}

/* index jumbo */
#my-jumbo {
  background-image: url(img/headerqueen.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
}

#my-jumbo-text {
  color: white;
  background-color: rgb(59, 57, 59, 0.50);
  padding: 40px 20px;
}

#my-jumbo-text a {
  color: #D98FCE;
  text-decoration: none;
}

#my-jumbo-text a:hover {
  color: black;
  text-decoration: none;
}

/* card styling */
.my-profile-icon {
    width: 12em;
    margin: 2.5em;
}

.my-card-icon {
  display: block;
}

.my-discover-card {
  color: black;
  text-decoration: none;
}

.my-discover-card:hover {
  color: #96598C;
}

.my-card-text {
  margin-bottom: 0;
}

.my-detail-card {
    border: none;
    margin: 0 auto; 
    margin-top: 4em;
    float: none;
}

.my-card-header {
    font-size: 28px;
    background-color: white;
    margin-bottom: 0;
}

.my-player-active {
    color: #63BA6B;
    text-transform: uppercase;
}

.my-player-inactive {
  color: red;
  text-transform: uppercase;
}

.my-ratings {
    margin: 7px;
    padding: 8px;
    background-color: #e6e6e6;
}

.my-card-return {
  /* width: 800px;  */
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 15px;
}

/* not currently using collage photo */
/* .my-player-collage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
} */

#inputMessage {
  height: 170px;
}

#bishop-img {
  height: 250px;
  margin-top: 30px;
}

/* players page table styling*/
.pagination > li > a
{
    background-color: white;
    color: #5C2B56;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5C2B56 !Important;
    border: solid 1px #5C2B56 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5C2B56 !Important;
    border: solid 1px #5C2B56;
}

.my-filter-button {
  width: 150px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: left;
}

.my-filter-menu {
  min-width: 550px;
}

.my-sort-button {
  float: right;
  width: 105px;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: left;
}

/* player edit admin page */
#player-edit-container {
  width: 80%;
  padding: 30px;
}

#my-login-confirmation {
  padding-left: 0;
  color: gray;
  font-style: italic;
}

.admin-intro {
  color:#AD0000;
  padding-left: 0;
  margin-bottom: 20px;
}

.my-logout-button {
  float: right;
  margin-top: 15px;
  padding-bottom: 10px;
}

/* #triviaAccordion {
  background-color: #D98FCE;
}

#countryAccordion{
  background-color: #96598C;
  color: white;
}

#queenAccordion {
  background-color: #5C2B56;
  color: white;
}

.accordion-button.collapsed {
  color: white;
  font-size: 26px;
  height: 170px;
}

#triviaAccordion .accordion-button:not(.collapsed) {
  color:black;
  background-color: #D98FCE;
}

#countryAccordion .accordion-button:not(.collapsed) {
  color:white;
  background-color: #96598C;
}

#queenAccordion .accordion-button:not(.collapsed) {
  color:white;
  background-color: #5C2B56;
} */

.question {
  margin-top: 15px;
  margin-bottom: -3px;
}

  /* footer styling */
  .my-footer-background {
    background-color: black;
    color: #e6e6e6;
  }
  
  .my-copyright {
    text-align: right;
    padding-bottom: 35px;
    font-size: 13px;
    font-style: italic;
    color: #ABABAB;
  }

/* Contact Us button & form styling */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .my-contact-us-row {
    color: black;
    margin-top: 30px;
  }

  .my-contact-button {
    width: auto;
    background-color: black;
    color: white;
    padding: 0;
    font-size: 15px;
  }
  
  button {
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

.my-contact-message {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

.my-contact-img {
  max-height: 130px;
}
  
span.psw {  
    float: right;
    padding-top: 16px;
  }

  /* link styling */
  .my-light-link {
    text-decoration: none;
    font-size: 16px;
    color: #96598C;
}

.my-light-link:hover {
    color: black;
}

.my-dark-link {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.my-dark-link:hover {
    color: gray;
}

/* outpost styling */
.my-outpost-container {
  max-width: 800px;
}

#outpost-logo {
  width: 140px;
  margin-bottom: 15px;
}

.my-outpost-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  height: 90px;
  font-size: 20px;
}

.my-outpost-background {
  background-color: rgba(140, 72, 140, 0.36);
  padding: 25px;
}

#my-trivia-link {
  background-color: #D98FCE;
}

.my-trivia-result {
  margin-top: 50px;
  font-size: 18px;
}

#my-country-link {
  background-color: #96598C;
}

#my-map-image {
  margin-left: 0 auto 0 auto;
}

#my-country-form {
  display: inline-flex;
  padding-left: 0;
}

#my-queen-link {
  background-color: #5C2B56;
}

h1, h2, h3, h4 {
  font-family: proxima-nova, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#my-country-feedback {
  color: red;
  text-align: center;
}

#my-country-feedback h5{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.hidden {
  visibility: hidden;
}
  
/* Change some styling for other screen sizes */
@media screen and (min-width: 990px) {
  .my-search {
    margin-top: 4em;
  }
  }

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }